footer(class="footer")
    div(class="container")
        p(class="text-muted footer-text") 
            | Made by Ernesto Paz. Code available on 
            a(href="https://github.com/Ernesto-Paz/Todo-API") GitHub
            | .