doctype html
html
    head
        title Much Todo
        meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no")
        //load global stylesheets
        include ./stylesheets.pug
        //load page specific stylesheets
        link(rel="stylesheet" href="/css/index.css")
        //load global scripts
        include ./scripts.pug
        //load page specific scripts
        script(defer, src="/js/index.js")

    body
        div(class="container-fluid")
            include ./navbar.pug
        div(class="container-fluid titleheader")
            div(class="row titleheadercontent") 
                h1(id="maintitleheader") So Much Todo
                h3(id="subtitleheader") The simple todo app
        div(class="container-fluid maincontent")
            div(class="spacersection")
            div(class="row textcentered" id="aboutsection")
                div(class="col-md-8 col-md-offset-2")
                    h1 Get It Done
                        p(class="text-muted small") Todo can help you get everything done faster.
            div(class="spacersection")
            div(class = "row textcentered todomainicons")
                div(class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-plus-circle bottommarginspacing" aria-hidden="true")
                    h4 Add your todo items.
                div(class="col-md-3 col-sm-4 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-check-circle bottommarginspacing" aria-hidden="true")
                    h4 Check them off your list.
                div(class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-times-circle bottommarginspacing" aria-hidden="true")
                    h4 Delete them off your list.
                div(class="col-md-3 col-sm-4 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-arrow-circle-right bottommarginspacing" aria-hidden="true")
                    h4 Make progress.
            div(class="spacersection")
            hr(class="section-hr")
            div(class="spacersection")
            div(class="row headlinequotes")
                div(class="col-md-5 col-md-offset-1")
                    blockquote
                        p(class="lead") Much Todo upped productivity in my workplace by 100%. Who knew such a simple app could do so much? Just having a neat list of things to get done really helps me and my coworkers stay on track!
                        footer Satisfied User
                div(class="col-md-5")
                    blockquote
                        p(class="lead") Oh yeah well, Much Todo upped productivity in my workplace by 1000%. Thats ten times more than that other guy! Really great stuff this app. Thanks a bunch!
                        footer A More Satisfied User
            div(class="row smallquotes")
                div(class="col-md-4")
                    blockquote
                        p I like it a lot! 10/10 would register again.
                        footer An Enthusiastic Satisfied User
                div(class="col-md-4")
                    blockquote
                        p Yeah, its a pretty neat app, I guess.
                        footer A Lazy Satisfied User
                div(class="col-md-4")
                    blockquote
                        p It keeps everything organized in one spot for me.
                        footer A Disorganized Satisfied User
            div(class="imagespacer")
            div(class="well registration" id="registersection")
                div(class="row")
                    div(class="col-sm-6 col-md-offset-1 col-sm-offset-0")
                        h1(class="textcentered") Register Now!
                                br
                                small Its free!
                        div(class="small-spacer")
                        form(class="form-horizontal homepageregistration" method="post" action="/users")
                            div(class="form-group")
                                div(class="col-md-12")
                                    input(type="text" id="usernameregistration" class="form-control" name="username" placeholder="Username")
                            div(class="form-group")
                                div(class="col-md-12")
                                    input(type="text" id="usernameregistration" class="form-control" name="email" placeholder="Email")
                            div(class="form-group")
                                div(class="col-md-12")
                                    input(type="password" id="passwordregistration" class="form-control" name="password" placeholder="Password")
                            div(class="form-group")
                                div(class="col-md-4 col-md-offset-8")
                                    button(type="submit" class="btn btn-primary btn-block") Sign me up!
                    div(class="col-md-4 col-sm-5 hidden-xs")
                        h4
                            |Register and enjoy these benefits
                        ul
                            li  A Todo List you can access from anywhere. 
                            li  An easy way to keep track of your stuff.
                            li  Free access to any updates to the site.
            div(class="row contactinfoheader")
                div(class="col-md-12 text-center" )
                    h1 Contact Information
            div(class="row")
                div(class="col-md-12 text-center")
                    hr(class="classyseparator-hr")
            div(class="row contactinfo text-center")
                div(class="col-sm-4 col-sm-offset-4")
                    div(class="col-xs-4")
                        a(href="https://github.com/Ernesto-Paz" class="contactlink")
                            i(class="fa fa-github fa-5x" aria-hidden="true")
                    div(class="col-xs-4")
                        a(href="https://www.linkedin.com/in/ernesto-paz" class="contactlink")
                            span(class="fa-stack fa-stack-5x")
                                i(class="fa fa-circle fa-fw fa-stack-2x" aria-hidden="true")
                                i(class="fa fa-linkedin fa-inverse fa-fw fa-stack-1x" aria-hidden="true")
                    div(class="col-xs-4")
                        a(href="https://www.facebook.com/ernesto.paz001" class="contactlink")
                            span(class="fa-stack fa-stack-5x")
                                i(class="fa fa-circle fa-stack-2x" aria-hidden="true")
                                i(class="fa fa-facebook fa-inverse fa-stack-1x" aria-hidden="true")
            div(class="spacersection")
        include ./footer.pug
