doctype html
html
    head
        title Much Todo
        meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no")
        //load global stylesheets
        include ./stylesheets.pug
        //load page specific stylesheets
        link(rel="stylesheet" href="/css/index.css")
        //load global scripts
        include ./scripts.pug
        //load page specific scripts
        script(defer, src="/js/index.js")

    body
        div(class="container-fluid")
            include ./navbar.pug
        div(class="container-fluid titleheader")
            div(class="row titleheadercontent") 
                h1(id="maintitleheader") So Much Todo
                h3(id="subtitleheader") The simple todo app
        div(class="container-fluid maincontent")
            div(class="spacersection")
            div(class="row textcentered")
                div(class="col-md-8 col-md-offset-2")
                    h1 Get It Done
                        p(class="text-muted small") Todo can help you get everything done faster.
            div(class="spacersection")
            div(class = "row textcentered")
                div(class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-plus-circle bottommarginspacing" aria-hidden="true")
                    h4 Add your todo items.
                div(class="col-md-3 col-sm-4 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-check-circle bottommarginspacing" aria-hidden="true")
                    h4 Check them off your list.
                div(class="col-md-3 col-sm-4 col-md-offset-0 col-sm-offset-2 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-times-circle bottommarginspacing" aria-hidden="true")
                    h4 Delete them off your list.
                div(class="col-md-3 col-sm-4 bottommarginspacing-x2")
                    i(class="fa fa-huge fa-arrow-circle-right bottommarginspacing" aria-hidden="true")
                    h4 Make progress.
            div(class="spacersection")
            hr(class="section-hr")
            div(class="row")
                div(class="col-md-5 col-md-offset-1")
                    blockquote
                        p Much Todo upped productivity in my workplace by 100%. Who knew such a simple app could do so much? Just having a neat list of things to get done really helps me and my coworkers stay on track!
                        footer Satisfied User
                div(class="col-md-5")
                    blockquote
                        p Oh yeah well, Much Todo upped productivity in my workplace by 1000%. Thats ten times more than that other guy! Really great stuff this app. Thanks a bunch!
                        footer A More Satisfied User
            div(class="row")
                div(class="col-md-4")
                    blockquote
                        p I like it a lot! 10/10 would register again.
                        footer An Enthusiastic Satisfied User
                div(class="col-md-4")
                    blockquote
                        p Yeah, its a pretty neat app, I guess.
                        footer A Lazy Satisfied User
                div(class="col-md-4")
                    blockquote
                        p It keeps eveyrthing organized in one spot for me.
                        footer A Disorganized Satisfied User
            div(class="spacersection")
        div(class="container-fluid footer")
            include ./footer.pug
