nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href="#" id="navbarheader") So Much Todo
        div(class="collapse navbar-collapse" id="homepagenavcollapse")
            ul(class="nav navbar-nav" id="navbaritems")
                li
                    a(href="#") About
                li
                    a(href="#") Register
            form(class="navbar-form navbar-right navbarlogin" role="login" method="post" action="/users/login")
                div(class="form-group")
                    label(for="usernameheaderform")
                    input(type="text" class="form-control" id="usernameheaderform" name="username" placeholder="Username")
                div(class="form-group")
                    label(for="passwordheaderform")
                    input(type="password" class="form-control" id="passwordheaderform" name="password" placeholder="Password")
                button(type="submit" class="btn btn-default") Login