
nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href="#" id="navbarheader") So Much Todo
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navcollapse")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
        div(class="collapse navbar-collapse" id="navcollapse")
            form(class="navbar-form navbar-right navbarlogout" id="logmeout" role="logout" action="")
                button(type="submit" value="Submit" class="btn btn-default") Logout