
nav(class="navbar navbar-default navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            a(class="navbar-brand" href="#" id="navbarheader") So Much Todo
        div(class="collapse navbar-collapse" id="homepagenavcollapse")
            ul(class="nav navbar-nav" id="navbaritems")
                li
                    a(href="#") About
                li
                    a(href="#") Register
            form(class="navbar-form navbar-right navbarlogout" id="logmeout" role="logout" action="")
                button(type="submit" value="Submit" class="btn btn-default") Logout