head
    meta(name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no")
    include ./stylesheets.pug
    include ./scripts.pug
    link(rel="stylesheet" href="/css/userhome.css")
    script(defer, src="/js/usermain.js")
div(class="container-fluid")
    include ./navbarprivate.pug

body
    //Button to allow user to add todos.
    //Button to allow user to remove todos.
    //Button to allow user to modify existing todos.
    //Button to allow user to mark todos as done.
    //Display all todos belonging to the user in a neat list.
    div(class="container-fluid usercontent")
        div(class="row")
            div(class="col-md-8 col-md-offset-2")
                div(class="well clearfix")
                    form( class="form-horizontal" action="" id="newtodosubmit")
                        div(class="form-group")
                            div(class="col-xs-12")
                                input(type="text" class="form-control newtodoinput" name="description" maxlength="256")
                                button(type="submit" value="Submit" class="btn btn-default newtodobtn") New Todo
                    ul(id="thetodolist" class="list-group")

include ./footer.pug