.textcentered{
text-align: center;
}
.spacersection{
padding:25px;
}
.small-spacer{
padding:10px;
}

.classyseparator-hr{
width: 15%;
border:0;
border:1px solid;
border-width:3px;
border-radius:7px 7px 7px 7px;
margin-bottom:30px;
}

.fa-huge{
font-size: 10em;
}

.fa-stack-5x{
font-size:2.5em;
}

.bottommarginspacing{
margin-bottom:15px;
}

.bottommarginspacing-x2{
margin-bottom:30px;
}

.container-fluid{
}
