.textcentered{
text-align: center;
}
.spacersection{
padding:25px;
}
.small-spacer{
padding:10px;
}

.fa-huge{
font-size: 10em;
}

.bottommarginspacing{
margin-bottom:15px;
}

.bottommarginspacing-x2{
margin-bottom:30px;
}

.container-fluid{
}
