html{
position:relative;
min-height: 100%;
}

body{
margin-top: 50px;
}
.newtodobtn{
margin-top: -3px;
}
.edittodoinput{
margin-bottom:10px;
display:inline-block;
padding-right:77.3px;
}

.edittodobtn{
margin-top:-3px;
margin-left:-77.3px;
}
.newtodoinput{
display:inline-block;
padding-right:93px;
margin-right:-92.9px;
}

.footer{
position:absolute;
bottom:0;
}

.fa-quickpulse{
animation: fa-spin .7s infinite steps(8);
}

#thetodolist{
margin-bottom:50px;
}

.tododesc{
word-wrap: break-word;
}

.usercontent{
margin-top:25px;
margin-bottom: 25px;
}

.todoitembtn{
margin-bottom:10px;

}